/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  gap: 50px;
  flex-direction: column;

}

h1{
  position: relative;
  padding: 20px 60px;
  background: rgba(45, 45, 45, 1);
  border-radius: 50px;
  font-size: 5.5em;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}

h1:hover{
  color: var(--clr);
  text-shadow: 0 0 15px var(--clr),
  0 0 40px var(--clr)


}

h1 span{
  position: relative;
  z-index: 1;
  /* letter-spacing: 0.5em; 
}

h1::before{
  content: ' ';
  position: absolute;
  top: var(--y);
  left: var();
  transform: translate(-50%,-50%);
  background: radial-gradient(var(--clr),transparent,transparent);
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: 0.5s,top 0s left 0s;
}

h1:hover::before{
  opacity: 1;
}
h1::after{
  content: '';
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, 1);
  border-radius: 48px;
}

/* Add styles for the hover effect triggered by the 'hover-effect' class 
h1.hover-effect {
  color: var(--clr);
  text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}

h1.hover-effect::before {
  opacity: 1;
}



h1.glow-effect {
  color: var(--clr);
  text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}

h1.glow-effect::before {
  opacity: 1;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  gap: 50px;
  flex-direction: column;
}

h1 {
  position: relative;
  padding: 20px 60px;
  background: rgba(45, 45, 45, 1);
  border-radius: 50px;
  font-size: 5.5em;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}

h1:hover {
  color: var(--clr);
 
}

h1 span {
  position: relative;
  z-index: 1;
}

h1::before {
  content: ' ';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(var(--clr), transparent, transparent);
  width: 200px;
  height: 200px;
  opacity: 0;
  transition: 0.5s, top 0s, left 0s;
}

h1:hover::before {
  opacity: 1;
}


h1.hover-effect {
  color: var(--clr);
  text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}

h1.hover-effect::before {
  opacity: 1;
}

h1.glow-effect {
  color: var(--clr);
  
}

h1.glow-effect::before {
  opacity: 1;
}